*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html{
    max-width: 1500px;
    margin: auto;
    background-color: white;
}

.topbar-mobile-container{
    display: none;
}


a{
    text-decoration: none;
    color: black;
}

.sidebar a{
    color: #ffffff;
}

.sidebar i{
    padding: 10px;

}

.sidebar-container{
    position: fixed;
    width: 10vh;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
    color: white;


}
.sidebar-container.seen{
    width: 30vh;
}

.sidebar-container .item-text{
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;

}
 
.sidebar-container.seen .item-text{
    opacity: 1;
    pointer-events: unset;
}


.logo-container{
    display: flex;
    flex-direction: column;
}
.logo{
    margin: auto;
    padding-top: 2rem;
    
}
.sidebar-container .logo{
    margin-left: 15px;
    transition: 0.5s ease-in-out;
}

.sidebar-container.seen .logo{
    margin: auto;
}


.sidebar-container .logo span{
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.sidebar-container.seen .logo span{
    opacity: 1;
}

.navbar{
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.icon{
    margin-left: 10px;
}
.item-links:nth-child(2){
    margin-left: 0.3rem;
}

.sidebar-container.seen .icon{
    margin: auto;
}
.item-links{
    margin: auto;
    line-height: 50px;
    font-size: 1.5rem;
    white-space: nowrap;
}

.sidebar-container.seen .item-links{
    margin-left: auto;
}


.tooltip::after{
    padding: 1rem;
    border-radius: 15px;
    background:black;
    opacity:0;
    
}

.tooltip:hover::after{
    content: attr(data-tooltip);
    opacity:1;
    position: relative;
    left: 35px;
    color: white;
    
}

.sidebar-container.seen .tooltip:hover::after{
    display: none;
}
.social-links{
    margin-left: 16px;
    transition: 0.5s ease-in-out;
    /* display: flex;
    flex-direction: column; */

}

.sidebar-container.seen .social-links{
    margin-left: 40px;
}

.social-links:hover{
    color: #5e5c57;

}

.hamburger{
    position: fixed;
    left:12vh;
    top: 1vh;
    width: 20px;
    height: 20px;
    background-color: black;
    transition:  0.5s ease-in-out;

}
.hamburger.slide{
    left:31vh;

}

.hamburger span{
    width: 20px;
    height: 20px;
    color: white;
    margin-left: 3px;
    margin-top: 1.5px;
    transition: 0.5s ease-in-out;
}
.hamburger.slide span{
    margin-left: -1.5px;
    margin-top: 3.5px;
    transform: rotate(90deg);
}
.mainpage{
    display: grid;
    grid-template-columns: 10px 1fr 1fr 1fr 10px;
    grid-template-rows: 10px 10rem 10rem 10rem 10px;
    height: 100vh;

    
}
.hero{
    margin-left: 63vh;
    margin-top: 18vh;
    z-index: -2;
}

.header-text{
    grid-column: 4;
    grid-row: 3/4;
    margin: auto;
    margin-bottom: 0;
    font-size: clamp(0.6rem,20vh,2rem)
    
}

.subtext{
    font-size: clamp(0.3rem,20vh,1.2rem);
}

.subtext p{
    margin-left:2.7rem;
}

.main-btns{
    display: flex;
    gap: 2rem;
}

.main-btns button{
    margin: 10% 0;
    padding: 5px;
    background-color: transparent;
    border: 2px solid black;
    cursor:pointer;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
    color:black;
    border-radius: 25px;
    
}
.main-btns button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:101%;
    height:100%;
    background-color: black;
    z-index: -1;
    transition:transform 250ms ease-in;
    transform: scaleY(0);
    transform-origin: bottom;
    border-radius: 25px;
 
}
.main-btns button:hover a{
   color: white;
   
}
.main-btns button:hover::after{
    transform: scaleY(1);
    transform-origin: top ;
    
}


.project-container{
    height: 100%;
    margin:3rem auto;
    margin-left:15%;;
}

.project-container h2{
   margin-left: 0.2rem;
   margin-bottom: 0.5rem;
}

        

.project-item{
    background: rgb(255, 254, 254);
    width: max(20rem,55vw);
    height:15rem;
    display: flex;
    margin: auto;
    font-size: 1.3rem;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 25px;
    margin-bottom: 2rem;
}
    
.project-item img{
     width: 100px;
     height: 100px;
     margin: 1rem;
     border: solid 2px rgb(0, 0, 0);
}
.project-item p{
     margin: 1rem;
     
    
}
.project-item a{
    color: black;
        
}
.project-desc{
    color: black;
    position: relative;
    font-size: clamp(0.9rem, 1.5vw,1.5rem);
    margin-bottom: 1rem;
    
}

.project-desc>h3{
    margin-left:1rem;
}

.gh-icon1, .gh-icon3 {
    position: absolute;
    left: -6.4rem;;
    top: 55%;
    font-size: 2rem;

}
.gh-icon2, .gh-icon4{
    position: absolute;
    left:clamp(13rem, 47vw, 44rem);
    top: 55%;
    font-size: 2rem;
}



.code-icon1,.code-icon3,.code-icon5,.code-icon7{
    position: absolute;
    left: -4.2rem;;
    top: 55%;
    font-size: 2rem;

}

.code-icon2, .code-icon4,.code-icon6, .code-icon8{
    position: absolute;
    left:clamp(16rem, 49.5vw, 60rem);
    top: 55%;
    font-size: 2rem;
}

.mp-icon{
    transition: 0.5s ease-in-out;
}

.mp-icon:hover{
    color:#726f69;

}

.contact-me-section{
    height: 50%;
    padding-top: 2rem;
    margin:auto;

}

.contact-me-top-container{
    margin-left:20%;
    height: 40%;
    width:50%;
    background-color: black;
}

.contact-me-section p, .contact-me-section h2{
    display: flex;
    justify-content: center;
    color: #ffffff;
    
}
.contact-me-section p{
    font-size: clamp(0.3rem,20vh,1rem);
    margin: 0.3rem;
    margin-bottom:0;
}

.contact-me-section h2{
    font-size: clamp(0.6rem,20vh,2rem);
    margin-bottom: 0.3rem;
}

.contact-me-bottom-container{
    margin-left:25%;
    height: 60%;
    width:50%;
    background-color: white;
    border: black solid 2px;;
    margin-bottom: 2rem;


}

.contact-me-icons{
    display: flex;
    justify-content: center;
    gap:2rem;
    align-items: center;
    margin:3rem 0;
}
.contact-icon{
    color: black;
    font-size: clamp(1rem,20vw,10rem);
    margin-top: 2rem;
}

.contact-icon:hover{
    color: #5e5c57;


}

@media screen and (max-width:1000px){
    .sidebar-container{
        display: none;
    }
    .topbar-mobile-container{
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 10vh;
        background-color: black;
        opacity: 0.90;
        z-index:2;
    }
    .topbar-logo-container{
        margin-left: 1rem;
    }

    .topbar-logo > h1{
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        
    }
    .hamburger{
        display: none;
    }
    .mobile-hamburger{
        position: relative;
        width: 20px;
        height: 20px;
        background-color: black;
        margin-right: 1rem;
        border: 0.1rem solid white;
        transition: 0.5s ease-in-out;

    }

    .mobile-hamburger.spin{
        transition: 0.5s ease-in-out;
        background-color: #ffffff;
    }

   
    .mobile-hamburger span{
        transition: 0.5s ease-in-out;
        width: 20px;
        height: 20px;
        color: white;
        margin-left: -1px;
}
    .mobile-hamburger.spin span{
        transition: 0.5s ease-in-out;
        transform: rotate(45deg);
        margin-left: -6px;
        margin-top: -1rem;
        color: black;

    }


    .dropdown-menu {
        transition: 0.5s ease-in-out;
        position: absolute;
        opacity: 0;
        width:10rem;
        height: 11.2rem;
        background-color: gray;
        top: 100%;
        margin-left: -10rem;
        border: solid 1px black;
    }

    .dropdown-menu >a{
        display:flex;
        text-decoration: none;
        color: white;
        font-size:1.5rem;
        margin: 0.5rem 0.5rem 1.2rem 0.5rem;
    
        

    }

    .dropdown-menu >a::after{
        content:"";
        position: absolute;
        margin:0rem;
        width: 10rem;
        height: 2px;
        background-color: #ffffff;

    }
    .dropdown-menu>a:nth-child(1)::after{
        content:"";
        top:2.5rem;
        left: 0;
        
    }

    .dropdown-menu>a:nth-child(2)::after{
        content:"";
        top:5.2rem;
        left:0;
        
    }
    .dropdown-menu>a:nth-child(3)::after{
        content:"";
        top:8.3rem;
        left:0;
        
    }

    .dropdown-menu>a:nth-child(4)::after{
        content:"";
        top:8.3rem;
        left:0;
        
    }

    .seen{
        opacity: 1; 
        z-index:2;

    }

    .dropdown-menu.seen{
        top:108%;
    }

    .mainpage{
        display:flex;
        flex-direction: column;
        height: 100%;
    
        
    }
    .hero{
        margin: auto;
        margin-top: 6rem;
        z-index: -2;
    }
    .hero img{
        width:clamp(100%, 50vmin, 1000%);
    
    }

   .project-container{
        margin-left:0%;
   }


    .code-icon2, .code-icon4{
        position: absolute;
        left:clamp(15rem, 47.5vw, 60rem);
        top: 55%;
        font-size: 2rem;
    }
   

   .contact-me-section{
        margin-left:0;
    }
    .contact-me-top-container{
        margin-left:10%
    }

    .contact-me-icons{
        gap:1rem;
    }

    .contact-me-bottom-container{
        margin-left:20%;
        width:65%;
    }
}
